:root {
  --primary-yellow: #f2ed54;
  --secondary-yellow: #fdd900;
  --tertiary-black: #191a1e;
  --fourth-gray: #bcc0cb;
  --fifth-gray: #f8f9fd;
  --sombra: 0px 0px 3px 4px rgba(253, 217, 0, 0.75);
}

* {
  font-family: "Roboto", sans-serif;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

html {
  min-width: 1330px;
}

body {
  background-color: var(--fourth-gray);
}

.titulo-menu {
  display: flex;
  justify-content: flex-start;
  padding-left: 100px;
  padding-top: 50px;
  padding-bottom: 50px;
  font-size: 3.5em;
  text-shadow: 1px 2px 5px rgba(25, 26, 30, 0.6);
  background-color: var(--tertiary-black);
  color: var(--fifth-gray);
}

/* ******* HEADER ***** */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--tertiary-black);
  padding: 10px;
}

.lista-navegacion {
  margin-right: 10px;
  display: flex;
  position: relative;
  width: 510px;
  height: 50px;
  background-color: #2b2c30;
  border-radius: 8px;
  font-size: 0;
  transform: skew(-25deg);
}

.lista-navegacion a {
  font-weight: 400;
  text-decoration: none;
  line-height: 50px;
  height: 100%;
  font-size: 15px;
  position: relative;
  z-index: 1;
  text-transform: uppercase;
  text-align: center;
  transition: all 0.5s ease 0s;
  transform: skew(25deg);
}

.lista-navegacion a:nth-child(1) {
  width: 100px;
  color: #2b2c30;
}
.lista-navegacion a:nth-child(2) {
  width: 110px;
  color: var(--fifth-gray);
}
.lista-navegacion a:nth-child(3) {
  width: 100px;
  color: var(--fifth-gray);
}
.lista-navegacion a:nth-child(4) {
  width: 100px;
  color: var(--fifth-gray);
}
.lista-navegacion a:nth-child(5) {
  width: 100px;
  color: var(--fifth-gray);
}

.lista-navegacion a:nth-child(2):hover {
  color: #191a1e;
}
.lista-navegacion a:nth-child(3):hover {
  color: #2d2f31;
}
.lista-navegacion a:nth-child(4):hover {
  color: #c0c3cf;
}
.lista-navegacion a:nth-child(5):hover {
  color: #f8f9fd;
}

.lista-navegacion .start-home,
.lista-navegacion a:nth-child(1):hover ~ .animation {
  width: 100px;
  left: 0;
  background-color: #f8f9fd;
}
.lista-navegacion .start-about,
.lista-navegacion a:nth-child(2):hover ~ .animation {
  width: 110px;
  left: 100px;
  background-color: #f8f9fdc0;
}
.lista-navegacion .start-blog,
.lista-navegacion a:nth-child(3):hover ~ .animation {
  width: 100px;
  left: 210px;
  background-color: #f8f9fd8c;
}
.lista-navegacion .start-portefolio,
.lista-navegacion a:nth-child(4):hover ~ .animation {
  width: 100px;
  left: 310px;
  background-color: #f8f9fd57;
}
.lista-navegacion .start-contact,
.lista-navegacion a:nth-child(5):hover ~ .animation {
  width: 100px;
  left: 410px;
  background-color: #f8f9fd25;
}

.lista-navegacion .animation {
  position: absolute;
  height: 100%;
  top: 0;
  z-index: 0;
  transition: all 0.5s ease 0s;
  border-radius: 8px;
}

.container-nav {
  margin-left: 5%;
  display: flex;
  justify-content: center;
}

.nav-franco {
  color: var(--fifth-gray);
  border-right: 1px solid var(--fourth-gray);
  padding-right: 10px;
}

.nav-franco img {
  height: 30px;
  width: auto;
}

.icon-cafe {
  font-size: 1em;
  color: var(--secondary-yellow);
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 15px;
}

.nav-animado {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-left: 20px;
}

.ham {
  cursor: pointer;
  font-size: 1em;
  display: none;
}

.knowledge {
  color: var(--fifth-gray);
}
.knowledge .dummy {
  color: var(--fourth-gray);
}

/* ***** HOME ***** */

.container-home {
  width: 100%;
  height: 100%;
  background: url(imagenes/perfilPortfolio3.png);
  background-repeat: no-repeat;
  background-position: right;
}

.container-info-home {
  width: 100%;
  height: 100%;
  background: linear-gradient(
    135deg,
    rgba(25, 26, 30, 1) 0%,
    rgba(188, 192, 203, 0.3) 50%,
    rgba(25, 26, 30, 1) 100%
  );
  display: flex;
  align-items: center;
  padding-left: 105px;
}

.home-izquierda h3 {
  font-size: 3.4em;
  width: 500px;
}
.home-izquierda p {
  color: var(--secondary-yellow);
  text-shadow: 3px 3px 2px rgba(0, 0, 0, 0.6);
  font-size: 1.4em;
}

.btm-hire-me a {
  text-decoration: none;
  color: var(--tertiary-black);
}

.btm-hire-me {
  font-size: 0.9em;
  width: 150px;
  height: auto;
  padding: 5px 10px;
  font-weight: bold;
  cursor: pointer;
  transition: all 0.3s ease;
  position: relative;
  display: inline-block;
  outline: none;
  border: 1px solid var(--tertiary-black);

  background: transparent;
}
.btm-hire-me:hover:after {
  top: 0;
  left: 0;
}
.btm-hire-me:after {
  content: "";
  width: 100%;
  z-index: -1;
  position: absolute;
  height: 100%;
  top: 5px;
  left: 5px;
  transition: 0.2s;
  background-color: var(--primary-yellow);
}

/**** ABOUT ME ****/

.container-about-me {
  display: flex;
  justify-content: space-around;
  background-color: var(--tertiary-black);
  color: var(--fifth-gray);
  height: 500px;
  padding-top: 100px;
}

.container-about-me h3 {
  margin-bottom: 10px;
}

.about-me {
  border: 2px inset var(--fifth-gray);
  padding: 2%;
  position: relative;
  border-radius: 0% 0% 0% 0% / 0% 0% 0% 0%;
  box-shadow: 20px 20px rgba(0, 0, 0, 0.15);
  transition: all 0.4s ease;
}
.education {
  border: 2px inset var(--fifth-gray);
  padding: 2%;
}

.box {
  background-color: transparent;
  border-radius: 3px;
  color: var(--fifth-gray);
  width: 400px;
  height: 300px;
  transform-style: preserve-3d;
  perspective: 2000px;
  transition: 0.4s;
  text-align: center;
}
.box:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  border-top: 20px solid var(--fifth-gray);
  border-left: 20px solid var(--fifth-gray);
  box-sizing: border-box;
}
.box:after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-bottom: 20px solid var(--fifth-gray);
  border-right: 20px solid var(--fifth-gray);
  box-sizing: border-box;
}
.box .fas {
  font-size: 25px;
  height: 50px;
  width: 50px;
  line-height: 50px !important;
  background-color: var(--fifth-gray);
  color: var(--tertiary-black);
}
.box .fa2 {
  position: absolute;
  bottom: 0;
  right: 0;
  z-index: 1;
}
.box .text {
  position: absolute;
  top: 30px;
  left: -30px;
  width: calc(100% + 60px);
  height: calc(100% - 60px);
  background-color: rgb(31, 32, 36);
  border-radius: 3px;
  transition: 0.4s;
}
.box .text .fa1 {
  position: absolute;
  top: 0;
  left: 0;
}
.box .text div {
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  text-align: center;
  width: 100%;
  padding: 30px 60px;
  line-height: 1.5;
  box-sizing: border-box;
}
.box .text div h3 {
  font-size: 1.5em;
  margin-bottom: 5px;
}
.box .text div p {
  font-size: 1em;
}

/* ***** SECCION DE HABILIDADES ***** */

.linea-central {
  position: relative;
  left: 50%;
  width: 4px;

  background: -moz-linear-gradient(
    top,
    rgba(80, 80, 80, 0) 0%,
    var(--secondary-yellow) 8%,
    var(--secondary-yellow) 92%,
    rgba(80, 80, 80, 0) 100%
  );

  background: -webkit-linear-gradient(
    top,
    rgba(80, 80, 80, 0) 0%,
    var(--secondary-yellow) 8%,
    var(--secondary-yellow) 92%,
    rgba(80, 80, 80, 0) 100%
  );
  background: -o-linear-gradient(
    top,
    rgba(80, 80, 80, 0) 0%,
    var(--secondary-yellow) 8%,
    var(--secondary-yellow) 92%,
    rgba(80, 80, 80, 0) 100%
  );
  background: -ms-linear-gradient(
    top,
    rgba(80, 80, 80, 0) 0%,
    var(--secondary-yellow) 8%,
    var(--secondary-yellow) 92%,
    rgba(80, 80, 80, 0) 100%
  );
  background: linear-gradient(
    to bottom,
    rgba(80, 80, 80, 0) 0%,
    var(--secondary-yellow) 8%,
    var(--secondary-yellow) 92%,
    rgba(80, 80, 80, 0) 100%
  );
}

.linea-central .icon {
  background-color: var(--secondary-yellow);
  font-size: 20px;
  height: 25px;
  width: auto;
  line-height: 25px;
  border-radius: 50%;
  color: var(--tertiary-black);
  margin-left: -10;
  box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.58);
  -webkit-box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.58);
  -moz-box-shadow: 0px 0px 21px 0px rgba(0, 0, 0, 0.58);
  margin-top: 20vh;
  /* display: grid;
  grid-template-columns: repeat(1, 1fr); */
}

.contenedor-skills {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: auto;
  padding: 1%;
  border-top: 2px solid var(--tertiary-black);
  border-bottom: 2px solid var(--tertiary-black);
  background: var(--tertiary-black); /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to top,
    var(--secondary-yellow),
    var(--tertiary-black)
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to top,
    var(--secondary-yellow),
    var(--tertiary-black)
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.contenedor-skills p {
  color: var(--tertiary-black);
  font-weight: 700;
}

.skills-izquierda {
  margin-top: 5%;
  width: 70%;
  margin-right: 0.1%;
  margin-left: 5%;
  text-align: end;
  padding: 2%;
}

.skills-derecha {
  margin-top: 5%;
  width: 70%;
  margin-left: 0.1%;
  margin-right: 5%;
  padding: 2%;
}

.lista-izquierda li {
  margin-bottom: 20%;
  margin-right: 10%;
  list-style: none;
}

.lista-derecha li {
  margin-top: 15%;
  margin-bottom: 20%;
  margin-left: 10%;
  list-style: none;
}

.contenedor-skills i {
  font-size: 4em;
  color: var(--tertiary-black);
}

.icon-tamaño {
  width: 70px;
  height: auto;
}

/* ***** NUEVA SECCION DE PROYECTOS ***** */

.timeline {
  display: flex;
  /* grid-template-columns: repeat(auto-fit, minmax(500px, 1fr)); */
  /* grid-template-columns: repeat(4, 1fr); */
  background-color: #031625;
}
.timeline:hover .tl-item {
  width: 23.3333%;
}

.tl-item {
  transform: translate3d(0, 0, 0);
  position: relative;
  width: 25%;
  height: 1000px;

  color: var(--fifth-gray);
  overflow: hidden;
  transition: width 0.5s ease;
}
.tl-item:before,
.tl-item:after {
  transform: translate3d(0, 0, 0);
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.tl-item:after {
  background: rgba(29, 29, 29, 0.89);
  opacity: 1;
  transition: opacity 0.5s ease;
}
.tl-item:before {
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, black 75%);
  z-index: 1;
  opacity: 0;
  transform: translate3d(0, 0, 0) translateY(50%);
  transition: opacity 0.5s ease, transform 0.5s ease;
}
.timeline .tl-item:hover {
  width: 30%;
}
.tl-item:hover:after {
  opacity: 0;
}
.tl-item:hover:before {
  opacity: 1;
  transform: translate3d(0, 0, 0) translateY(0);
  transition: opacity 1s ease, transform 1s ease 0.25s;
}
.tl-item:hover .tl-content {
  opacity: 1;
  transform: translateY(0);
  transition: all 0.75s ease 0.5s;
}
.tl-item:hover .tl-bg {
  filter: grayscale(0);
}

.tl-content {
  transform: translate3d(0, 0, 0) translateY(25px);
  position: relative;
  z-index: 1;
  text-align: center;
  margin: 0 1.618em;
  top: 55%;
  opacity: 0;
}
.tl-content h1 {
  text-transform: uppercase;
  color: var(--primary-yellow);
  font-size: 1.44rem;
  font-weight: normal;
}

.tl-year {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  z-index: 2;
}
.tl-year p {
  font-size: 1.728rem;
  line-height: 0;
}

.tl-bg {
  transform: translate3d(0, 0, 0);
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-size: cover;
  background-position: center center;
  transition: filter 0.5s ease;
  filter: grayscale(100%);
}

.href-code a {
  text-decoration: none;
  color: var(--fifth-gray);
  line-height: 30px;
  transition: 0.4s;
}

.href-code {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
}

.tl-p {
  line-height: 20px;
}

.tl-p span {
  color: var(--fourth-gray);
}

.href-code a:hover {
  color: var(--fourth-gray);
}

/* ***** SECCION DE CONTACTOS ***** */

.wrapper {
  width: 100%;
  height: auto;
  min-height: 100vh;
  padding-top: 250px;
  background-image: linear-gradient(
    -20deg,
    var(--fifth-gray) 0%,
    var(--fourth-gray) 100%
  );
  font-size: 1.3em;
}

.profile-card {
  width: 100%;

  margin: auto;
  box-shadow: 0px 8px 60px -10px rgba(13, 28, 39, 0.6);
  background: var(--fifth-gray);
  border-radius: 12px;
  max-width: 700px;
  position: relative;
}
.profile-card.active .profile-card__cnt {
  filter: blur(6px);
}
.profile-card.active .profile-card-message,
.profile-card.active .profile-card__overlay {
  opacity: 1;
  pointer-events: auto;
  transition-delay: 0.1s;
}
.profile-card.active .profile-card-form {
  transform: none;
  transition-delay: 0.1s;
}
.profile-card__img {
  width: 150px;
  height: 150px;
  margin-left: auto;
  margin-right: auto;
  transform: translateY(-50%);
  border-radius: 50%;
  overflow: hidden;
  position: relative;

  box-shadow: 0px 5px 50px 0px var(--primary-yellow),
    0px 0px 0px 7px rgba(242, 237, 84, 0.5);
}

.profile-card__img img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 50%;
}
.profile-card__cnt {
  margin-top: -35px;
  text-align: center;
  padding: 0 20px;
  padding-bottom: 40px;
  transition: all 0.3s;
}
.profile-card__name {
  font-weight: 700;
  font-size: 1.4em;
  color: var(--tertiary-black);
  margin-bottom: 15px;
}
.profile-card__txt {
  font-size: 1em;
  font-weight: 500;
  color: #3c4953;
  margin-bottom: 15px;
}
.profile-card__txt strong {
  font-weight: 700;
}
.profile-card-loc {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1em;
  font-weight: 600;
}
.profile-card-loc__icon {
  display: inline-flex;
  font-size: 1em;
  margin-right: 10px;
}
.profile-card-inf {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-top: 35px;
}
.profile-card-inf__item {
  padding: 10px 35px;
  min-width: 150px;
}

.profile-card-inf__title {
  font-weight: 700;
  font-size: 1em;
  color: #3c4953;
}
.profile-card-inf__txt {
  font-weight: 500;
  margin-top: 7px;
}
.profile-card-social {
  margin-top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.profile-card-social__item {
  display: inline-flex;
  width: 55px;
  height: 55px;
  margin: 15px;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  color: var(--tertiary-black);
  background: linear-gradient(
    135deg,
    rgba(25, 26, 30, 1) 0%,
    var(--primary-yellow) 50%,
    rgba(25, 26, 30, 1) 100%
  );
  box-shadow: 0px 7px 30px rgba(46, 46, 46, 0.5);
  position: relative;
  font-size: 1em;
  flex-shrink: 0;
  transition: all 0.3s;
}

.profile-card-social .icon-font {
  font-size: 1.3em;
}
.profile-card-ctr {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

.profile-card__button {
  border: none;
  font-weight: 700;
  font-size: 1em;
  margin: 15px 35px;
  padding: 15px 40px;
  min-width: 201px;
  border-radius: 50px;
  min-height: 55px;
  color: var(--fifth-gray);
  cursor: pointer;
  backface-visibility: hidden;
  transition: all 0.3s;
}

.profile-card__button:focus {
  outline: none !important;
}

.profile-card__button:first-child {
  margin-left: 0;
}
.profile-card__button:last-child {
  margin-right: 0;
}
.profile-card__button.button--blue {
  background: linear-gradient(
    45deg,
    var(--tertiary-black),
    rgba(51, 52, 56, 0.863)
  );
  box-shadow: 0px 4px 30px rgba(51, 52, 56, 0.4);
}
.profile-card__button.button--blue:hover {
  box-shadow: 0px 7px 30px rgba(51, 52, 56, 0.75);
}
.profile-card__button.button--orange a {
  color: var(--tertiary-black);
  text-decoration: none;
}
.profile-card__button.button--orange {
  color: var(--tertiary-black);
  background: linear-gradient(45deg, var(--primary-yellow), rgb(238, 234, 111));
  box-shadow: 0px 4px 30px rgba(238, 234, 111, 0.4);
}
.profile-card__button.button--orange:hover {
  box-shadow: 0px 7px 30px rgba(238, 234, 111, 0.74);
}

.profile-card-message {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  pointer-events: none;
  transition: all 0.3s;
}
.profile-card-form {
  box-shadow: 0 4px 30px rgba(15, 22, 56, 0.35);
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  background: #fff;
  border-radius: 10px;
  padding: 35px;
  transform: scale(0.8);
  position: relative;
  z-index: 3;
  transition: all 0.3s;
  margin-top: -100px;
}

.profile-card-form__bottom {
  display: flex;
  justify-content: space-around;
}
.profile-card textarea {
  width: 100%;
  resize: none;
  height: 210px;
  margin-bottom: 20px;
  border: 2px solid #dcdcdc;
  border-radius: 10px;
  padding: 15px 20px;
  color: #3d4a55;
  font-weight: 500;
  outline: none;
  transition: all 0.3s;
}
.profile-card textarea:focus {
  outline: none;
  border-color: var(--fourth-gray);
}
.profile-card__overlay {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
  opacity: 0;
  background: rgba(22, 33, 72, 0.35);
  border-radius: 12px;
  transition: all 0.3s;
}

/* ***** FORM ***** */

.input-container {
  height: 50px;
  position: relative;
  width: 100%;
}

.ic1 {
  margin-top: 40px;
}

.ic2 {
  margin-top: 30px;
}

.input {
  background-color: var(--tertiary-black);
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: var(--fifth-gray);
  font-size: 1em;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}

.cut {
  background-color: var(--fifth-gray);
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 76px;
}

.cut-short {
  width: 60px;
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
  transform: translateY(8px);
}

.placeholder {
  color: var(--fourth-gray);
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
  color: var(--fourth-gray);
}

.input:focus ~ .placeholder {
  color: var(--tertiary-black);
}

.text-area-input {
  margin-top: 20px;
}

/* ***** FOOTER **** */

footer {
  text-align: center;
  width: 100%;
  height: auto;
  background-color: var(--tertiary-black);
  color: var(--fifth-gray);
  letter-spacing: 5;
  padding: 3px;
}

/* ***** GO TOP ***** */

#goTop {
  top: 90%;
  width: 70px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  cursor: pointer;
  margin-left: 2%;
  margin-bottom: 2%;
  position: fixed;
  transition: all 2s;
  animation: aparece 0.3s ease-in-out;
  display: none;
  color: var(--tertiary-black);
  z-index: 10;
}

@keyframes aparece {
  0% {
    font-size: 1em;
  }
  100% {
    font-size: 3em;
  }
}

body .active {
  color: black;
}
