/* @media screen and (max-width: 1440px)
@media  screen and (max-width: 1024px)
@media  screen and (max-width: 768px)
@media  screen and (max-width: 360px) */

@media (max-width: 768px) {
  /* *** HEADER *** */

  .flags {
    width: 160px;
  }

  .flags__items {
    width: 70px;
  }

  .container-nav {
    font-size: 3em;
    margin-top: 2%;
    margin-bottom: 2%;
  }

  .logoF {
    width: 120px;
    min-height: 50px;
  }

  .ham {
    display: block;
    position: absolute;
    top: 20px;
    left: 20px;

    display: flex;
    align-items: flex-start;
    text-align: left;
    font-size: 5em;
    color: var(--fourth-gray);
    background-color: #2b2c30;
    border: none;
  }

  header {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .lista-navegacion {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    display: none;
    align-items: center;
    transform: none;
    margin: 0;
  }
  .animation {
    display: none;
  }
  .lista-navegacion a {
    font-size: 40px;
    transform: none;
    width: 900px;
    line-height: 90px;
  }

  .lista-navegacion a:nth-child(1) {
    margin-top: 100px;
    color: var(--fifth-gray);
  }

  .lista-navegacion a:nth-child(2) {
    width: 500px;
    color: var(--fifth-gray);
  }
  .lista-navegacion a:nth-child(3) {
    width: 500px;
  }
  .lista-navegacion a:nth-child(4) {
    width: 500px;
  }
  .lista-navegacion a:nth-child(5) {
    width: 500px;
  }

  .lista-navegacion.activado {
    display: flex;
    height: 2000px;
  }

  /* *** PRESENTACION PALETAS SUPERIORES *** */

  .contenedor-presentacion {
    flex-direction: column;
    height: 100%;
    position: relative;
  }

  .foto {
    transform: none;
    height: 100%;
    overflow: initial;
    position: relative;
  }

  .foto span {
    display: none;
  }

  .contenedor-presentacion h3 {
    font-size: 4em;
    margin: 0;
  }

  .foto img {
    max-width: 400px;
    max-height: 400px;
  }

  .presentacion {
    /* margin-top: 2%; */
    position: relative;
    transform: none;
    overflow: initial;
    margin: 0;
  }

  .presentacion span {
    display: none;
  }

  .presentacion h1 {
    font-size: 2.7em;
  }

  .presentacion h2 {
    font-size: 2.5em;
  }

  /* *** HOME *** */

  .container-home {
    font-size: 1.5em;
  }

  .home-derecha h3 {
    width: 500px;
  }
  .home-izquierda h3 {
    width: 500px;
  }

  .redes-sociales {
    width: 500px;
    height: 140px;
  }

  .redes-sociales span {
    width: 500px;
    height: 140px;
    font-size: 2em;
    padding-top: 30px;
  }

  .btm-hire-me {
    font-size: 1.5em;
    width: 250px;
    height: auto;
  }

  /* *** ABOUT *** */

  .container-about-me {
    flex-direction: column;
    align-items: center;
    height: 1400px;
    padding: 0;
  }

  .box {
    width: 80%;
    height: 100%;
    margin-top: 10%;
  }

  .box .text div h3 {
    font-size: 3em;
  }
  .box .text div p {
    font-size: 3em;
  }

  /* *** HABILIDADES *** */

  .contenedor-skills {
    height: 100%;
    min-height: 400%;
  }

  .lista-izquierda li {
    font-size: 3em;
  }

  .lista-derecha li {
    font-size: 3em;
  }

  .linea-central i {
    display: none;
  }

  .icon-tamaño {
    width: 180px;
    height: auto;
  }

  /* *** NUEVOS PROYECTOS *** */
  .timeline {
    flex-direction: column;
  }
  .timeline:hover .tl-item {
    width: 100%;
  }
  .tl-item {
    width: 100%;
  }

  .tl-year p,
  .tl-content h1,
  .tl-p p,
  .href-code a {
    font-size: 3em;
  }

  .tl-p p {
    line-height: 45px;
  }

  .tl-year {
    top: 20%;
  }
  .tl-content {
    top: 30%;
  }

  /* *** NUEVO CONTACTOS *** */

  .wrapper {
    font-size: 2.5em;
    padding-bottom: 100px;
  }

  .profile-card {
    max-width: 80%;
  }

  .profile-card-social__item {
    width: 80px;
    height: 80px;
  }

  .profile-card-form {
    margin-top: -900px;

    width: 100%;
  }

  .input-container {
    height: 100px;
    width: 100%;
  }

  .cut-short {
    width: 100px;
  }

  .cut {
    width: 130px;
  }

  .text-area-input {
    margin-top: 60px;
    height: 800px !important;
  }

  .profile-card__img {
    width: 300px;
    height: 300px;
  }
  /* *** TOP *** */

  #goTop i {
    font-size: 7em;
  }

  /* *** FOOTER *** */
  footer h3 {
    font-size: 3em;
  }
}

@media (max-width: 500px) {
  .wrapper {
    font-size: 3.9em;
    line-height: 120px;
  }

  .profile-card-social__item {
    width: 120px;
    height: 120px;
  }

  .profile-card-form {
    margin-top: -1200px;
  }
  .input-container {
    height: 200px;
  }
  .cut-short {
    width: 140px !important;
  }

  .cut {
    width: 200px;
  }

  .ic2 {
    margin-top: 70px;
  }

  .input:focus ~ .cut,
  .input:not(:placeholder-shown) ~ .cut {
    transform: translateY(16px);
  }
}
