/* @media screen and (max-width: 1440px)
@media  screen and (max-width: 1024px)
@media  screen and (max-width: 768px)
@media  screen and (max-width: 360px) */

@media  screen and (max-width: 370px) {

/* *** PRESENTACION PALETAS SUPERIORES *** */

    .contenedor-presentacion{
     flex-direction: column;
     margin-top: 180px;
    
    }

    .foto{
        transform: none;
    }

    .contenedor-presentacion h3{
        font-size: 4em;
    }

    .foto img{
        max-width: 400px;
        max-height: 400px;
        
    }

    .presentacion{
        margin-top: 2%;
        transform: none;
    }

    .presentacion h1{
        font-size: 2.7em;
    }

    .presentacion h2{
        font-size: 2.5em;
    }

    /* *** PRESENTACION PALETAS INFERIORES *** */

    .contenedor-sobre-mi{
        flex-direction: column;
        margin-top: 59%;
        margin-bottom: 30%;
    }

    .sobre-mi{
        transform: none;
        width: 100%;
        margin-left: 0;
        padding: 3%;
    }

    .sobre-mi h3{
        margin-top: 2%;
        margin-bottom: 2%;
        font-size: 3em
    }

    .sobre-mi p{
        font-size: 2.5em
    }
    .educacion{
        transform: none;
        width: 100%; 
        margin-top: 2%;
        padding: 3%;
        margin-bottom: 10%;
    }

    .educacion h3{
        margin-top: 2%;
        margin-bottom: 2%;
        font-size: 3em
    }

    .educacion p{
        font-size: 2.5em
    }

   body script{
       display: none;
   }

   /* *** HABILIDADES *** */

   .titulo-skills{
       font-size: 4em;
   }

   .contenedor-skills{
    height: 100vw;
    min-height: 270vh;
   }

   .lista-izquierda li{
       font-size: 3em;
   }

   .lista-derecha li{
    font-size: 3em;
}

.linea-central{
    display: none;
}

/* *** PROYECTOS *** */

.contenedor-trabajos{
    flex-direction: column;
    min-height: 200vh;
}

.contenedor-trabajos .trabajos{
    width: 900px;
    height: 700px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover
}

/* *** CONTACTOS *** */

.contacto-h2{
    font-size: 2.5em;
}

.contenedor-contacto{
    display: flex;
    flex-direction: column;
    font-size: 4em;
}

.contacto form input{
    font-size: 1em;
}

.contacto form textarea{
    font-size: 1em;
}

/* *** TOP *** */

#goTop{
    font-size: 5em;
}


}